<!DOCTYPE html>
<html lang="ru">

{% extends 'patternSite.html' %}
{% load static %}

<head>
<title>{% block title %}Аутентификация{% endblock %}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static "css/reset.css" %}" type="text/css" media="all">
<link rel="stylesheet" href= "{% static "css/layout.css" %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "css/style.css"  %}" type="text/css" media="all">

</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->

<!-- / header -->
<!-- content -->
{% block content %}
			<form name="login" method="post">
				<h1>
					wertyuiuytre
				</h1>
				<table border="2">
					<td>
						<tr>
							<input type="text" name="email"placeholder="Phone or email" onkeyup="toggle('index_expire', !!this.value); toggle('index_forgot', !this.value)">
						</tr>
						<tr>
							<input type="password" name="pass" placeholder="Password" onkeyup="toggle('index_expire', !!this.value); toggle('index_forgot', !this.value)">
						</tr>
					</td>
				</table>
			</form>

<!--
  		<div id="index_register" class="page_block index_register">
      	<h2 class="ij_header">For the first time on Science Lab?</h2>
      	<div class="ij_subheader">Sign up for Science Lab</div>
      	<input type="text" class="big_text" id="ij_first_name" value="" placeholder="Your first name">
      	<input type="text" class="big_text" id="ij_first_name" value="" placeholder="Your first name">
      	<button></button>
  		</div>
-->
		<br/>

<!-- Horizontal Line -->
	<hr/>

	<br/>
{% endblock content %}

<!-- /content -->
<!-- footer -->

<!-- / footer -->
	</div>
</div>
</body>
</html>
