<!DOCTYPE html>
<html lang="ru">
<head>
<title>Researches</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page3">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo">Научная лабораория</a></h1>
					<form id="search" method="post">
						<div>
							<input type="submit" class="submit" value="">
							<input type="text" class="input">
						</div>
					</form>
				</div>
				<div class="wrapper">
					<nav>
						<ul id="menu">
							<li><a href="index.html">Главная страница</a></li>
							<li><a href="services.html">Услуги</a></li>
							<li><a href="researches.html">Исследования</a></li>
							<li><a href="press.html">Издания</a></li>
							<li><a href="contacts.html">Контакты</a></li>
						</ul>
					</nav>
				</div>
				<div class="wrapper">
					<div class="col">
						<h2>Лаборатория IT технологий<span>Профессиональные исследования</span></h2>
						<p><strong>Научная лаборатория Сани и Димаса,</strong> направленная на развитие систем машинного зрения, если вы уже пересекались с нами просим прощения.</p><a href="#" class="button"><span>Узнать больше</span></a>
					</div>
				</div>
			</header>
<!-- / header -->
<!-- content -->
			<section id="content">
				<article class="col1">
					<h3>Последние новости</h3>
					<div class="wrapper">
						<figure class="left marg_right1"><a href="#"><img src="images/page1_img1.jpg" alt=""></a></figure>
						<p>
							<strong>Искусственный интеллект </strong><br>проверили на IQ. &nbsp; <a href="#">Узнать больше</a>
						</p>
					</div>
					<div class="wrapper">
						<figure class="left marg_right1"><a href="#"><img src="images/page1_img2.jpg" alt=""></a></figure>
						<p>
							<strong>Skype</strong> обрел искусственный интеллект. &nbsp; <a href="#">Узнать больше</a>
						</p>
					</div>
					<div class="wrapper">
						<figure class="left marg_right1"><a href="#"><img src="images/page1_img3.jpg" alt=""></a></figure>
						<p>
							<strong>Искусственный интеллект</strong> научили отслеживать эмоции зрителей в кинотеатрах. &nbsp; <a href="#">Узнать больше</a>
						</p>
					</div>
	 			</article>
				<article class="col2">
					<h3>О наших исследованиях</h3>
					<div class="wrapper">
						<figure class="left marg_right1"><img src="images/page3_img1.jpg" alt=""></figure>
						<p class="pad_bot1">
							<strong></strong>
						</p>
						<p class="pad_bot1">

						</p>
					</div>
					<div class="wrapper pad_bot1">
						<ul class="cols list2">
							<li><a href="#">Исследование 1</a></li>
							<li><a href="#">Исследование 2</a></li>
							<li><a href="#">Исследование 3</a></li>
							<li><a href="#">Исследование 4</a></li>
						</ul>
						<ul class="cols pad_left1 list2">
							<li><a href="#">Исследование 5</a></li>
							<li><a href="#">Исследование 6</a></li>
							<li><a href="#">Исследование 7</a></li>
							<li><a href="#">Исследование 8</a></li>
						</ul>
					</div>
		 		</article>
			</section>
		</div>
	</div>
</div>
<div class="body3">
	<div class="main">
		<section id="content2">
			<article class="col3">
				<h4><span><span class="right"></span>Лаб-ное оборудование</span></h4>
				<div class="wrapper">
					<div class="pad">
						<div class="pad">
						<p class="pad_bot3">
							<strong>
							Оборудование нашей лаборатории представлено не самыми ровными руками и не самыми извилистыми мозгами.
							</strong>
						</p>
						<p class="pad_bot3">
						Приносим извинения за все причененные неудобства и неприятности из-за нас.
						Увы но это уже ваши проблеммы.
						</p>
						<p>
						Даже без различного оборудования понятно, что вы ошиблись сайтом.
						</p>
					</div>
					</div>
				</div>
	 		</article>
			<article class="col4">
				<h4><span><span class="right"></span>Наши исследования</span></h4>
				<div class="wrapper">
					<div class="pad">
						<ul class="list2">
							<li><a href="#">Исследование 1</a></li>
							<li><a href="#">Исследование 2</a></li>
							<li><a href="#">Исследование 3</a></li>
							<li><a href="#">Исследование 4</a></li>
							<li><a href="#">Исследование 5</a></li>
							<li><a href="#">Исследование 6</a></li>
							<li><a href="#">Исследование 7</a></li>
							<li><a href="#">Исследование 8</a></li>
						</ul>
					</div>
				</div>
 			</article>
			<article class="col4">
				<h4><span><span class="right"></span>Комплексная наука</span></h4>
				<div class="wrapper">
					<div class="pad">
						<p class="pad_bot3">
						Когда синтез показаний смежных наук захватывает их во множестве, то ему достается именование комплексности.
						</p>
						<p class="pad_bot3">
						 В этом случае инициативной науки, стремящейся к обогащению нет, дополнительную науку дает объединение разобщенных, но связанных друг с другом сведений.
						 Так случилось с «конфликтологией», «науковедением», «диаспорологией». В том же ряду «биология», «экология».
						</p>
						<p>
							За подробностями <a href="http://sci-article.ru/stat.php?i=1423219908">сюда</a>.
						</p>
					</div>
				</div>
	 		</article>
		</section>
<!-- / content -->
<!-- footer -->
		<footer>
			<nav>
				<ul id="footer_menu">
					<li><a href="index.html">Гл. стр.</a></li>
					<li><a href="services.html">Услуги</a></li>
					<li><a href="researches.html">Исследования</a></li>
					<li><a href="press.html">Инфо</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
			</nav>

		</footer>
<!-- / footer -->
	</div>
</div>
</body>
</html>
